vti_encoding:SR|utf8-nl
vti_author:SR|ROOM305-2\\student
vti_modifiedby:SR|ROOM305-2\\student
vti_timelastmodified:TR|09 Jun 2007 09:16:32 -0000
vti_timecreated:TR|09 Jun 2007 09:16:32 -0000
vti_cacheddtm:TX|09 Jun 2007 09:16:32 -0000
vti_filesize:IR|4622
vti_cachedlinkinfo:VX|S|menubg.jpg S|menubg.jpg S|main.jpg S|boxbg.jpg S|boxbg.jpg S|boxbg.jpg
vti_cachedsvcrellinks:VX|NSUS|menubg.jpg NSUS|menubg.jpg NSUS|main.jpg NSUS|boxbg.jpg NSUS|boxbg.jpg NSUS|boxbg.jpg
vti_extenderversion:SR|6.0.2.5516
vti_backlinkinfo:VX|contact.html race/r_softball.html race/d_badminton.html race/d_basketball.html net/net.html race/license.html area/basketball_p.html area/pool_p.html area/volleyball_p.html race/match.html race/r_badminton.html race/r_volleyball.html race/r_pingpong.html race/d_football.html race/d_tennis.html race/d_pool.html race/r_tennis.html race/r_pool.html area/football_p.html area/pingpong_p.html area/softball_p.html race/d_softball.html index.htm area/area.html board/board.html race/race.html race/r_basketball.html area/badminton_p.html area/tennis_p.html race/d_volleyball.html race/d_pingpong.html souvenir.html download/download.html race/teams.html net/fee.html race/r_football.html
