vti_encoding:SR|utf8-nl
vti_author:SR|ROOM305-18\\student
vti_modifiedby:SR|ROOM305-21\\student
vti_timelastmodified:TW|20 Feb 2008 11:22:42 -0000
vti_timecreated:TR|20 Feb 2008 11:22:41 -0000
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|sayap4-2.htm sayap4-1.htm sayap4c.htm sayap3-1.htm sayap7.htm sayap6.htm sayap4d.htm index3.htm sayap7-1.htm sayap4i.htm sayap2-1.htm sayap5.htm sayap4.htm sayap4b.htm sayap4a.htm sayap3a.htm index2.htm sayap4g.htm sayap4h.htm sayap3.htm sayap1.htm sayap2.htm index.php sayap4f.htm sayap4e.htm
vti_nexttolasttimemodified:TW|20 Feb 2008 11:22:42 -0000
vti_cacheddtm:TX|27 May 2008 08:57:01 -0000
vti_filesize:IR|8525
vti_cachedlinkinfo:VX|S|images/index_1.jpg S|images/index_2.jpg S|images/index_5.jpg S|images/index_7.jpg S|images/p1/right_d.jpg S|images/p1/p1_d.jpg S|images/all/index/products.jpg S|images/all/index/about\\ titan.jpg S|images/p1/right_d-2.jpg S|image/saya_p1_24.jpg S|images/leftg_2.jpg S|images/p3/images/left_fray_7.jpg S|images/index_06.jpg S|images/p3/images/bg.jpg
vti_cachedsvcrellinks:VX|NSUS|images/index_1.jpg FSUS|images/index_2.jpg NSUS|images/index_5.jpg FSUS|images/index_7.jpg NSUS|images/p1/right_d.jpg NSUS|images/p1/p1_d.jpg NSUS|images/all/index/products.jpg NSUS|images/all/index/about\\ titan.jpg NSUS|images/p1/right_d-2.jpg NSUS|image/saya_p1_24.jpg NSUS|images/leftg_2.jpg NSUS|images/p3/images/left_fray_7.jpg NSUS|images/index_06.jpg NSUS|images/p3/images/bg.jpg
